<div class="app_controls">
    <div class="incall_controls_block">
      <div class="incall_controls_mute incall_control" onclick="mute_unmute()">
        <i class="fas fa-microphone fa-lg control"></i>
        <span>Mute</span>
      </div>
      <div class="incall_controls_video incall_control" onclick="play_pause()">
        <i class="fas fa-video fa-lg control"></i>
        <span>Stop Video</span>
      </div>
      <div class="incall_controls_screenshare incall_control" onclick="share_screen()">
        <i class="fas fa-desktop fa-lg control" style="color: #4a90e2;"></i>
        <span>Screenshare</span>
      </div>
      <div class="incall_controls_endcall incall_control" onclick="endcall()">
        <i class="fas fa-phone-slash fa-lg control" style="color: #fa314a;"></i>
        <span>End Call</span>
      </div>
      <div class="incall_controls_leaveroom incall_control" onclick="leaveroom()">
        <i class="fas fa-window-close fa-lg control leaveroom"></i>
        <span>Leave Room</span>
      </div>
    </div>
  </div>