<div class="chatbox">
    <div class="box_title">
        Chat
    </div>
    <div class="chatbox_chat_area">
        <div class="messages">

        </div>
    </div>
    <div class="chatbox_typing_area">
        <input type="text" id="type_message" placeholder="Write your message">
        <button class="send_message" onclick="send_message()"><i class="fas fa-paper-plane fa-lg send_button"></i></button>
    </div>
</div>